.volunteers {
    margin-right: 1%;
    margin-left: 1%;
}

.partners {
    margin-right: 1%;
    margin-left: 1%;
}

h1 {
    margin: 5% 2%;
    font-size: 3em;
    color: green;
    text-align: center;
    justify-content: center;
}

h2 {
    padding: 3% 2%;
    background-color: lightgrey;
    font-size: 1.3em;
    text-align: center;
    justify-content: center;
    width: 100%;
}

p a {
    color: mediumseagreen;
    text-decoration: underline;
}